title = "Games"
url = "/games"
layout = "main"
is_hidden = 0

[builderList]
modelClass = "Sunal\Games\Models\Game"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "game-single"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}


<div class="container-fluid">
  {% for record in records %}
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="{{record.poster.path|resize(300,300,{mode : 'crop'})}}" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <a href="/game-single/{{record.slug}}"><h3>{{record.title}}</h3></a>
      <p>{{html_limit(record.description,100)|raw}}</p>
      <p>{% if record.status == '1' %}Register Now! {% else %} Coming Soon! {% endif %}</p>
    </div>
  </div>
</div>
{% endfor %}
</div>