title = "Tournaments"
url = "/tournaments"
layout = "main"
description = "You can find All of our ongoing tournaments and coming soon tournaments"
is_hidden = 0

[builderList]
modelClass = "Sunal\Games\Models\Tournament"
scope = "-"
scopeValue = "{{ :id }}"
displayColumn = "tournament_title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}
<div class="container">
    <div class="accordion" id="accordionExample">
        {% for record in records %}
        <div class="card">
              <div class="card-header" id="heading{{record.id}}">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{record.id}}" aria-expanded="true" aria-controls="collapse{{record.id}}">
                    {% if record.availability == 0 %}<img style="width: 50px; height: 54px;" src="{{'assets/img/soon.png'|theme}}" alt="">{% else %}<img style="width: 50px; height: 54px;" src="{{'assets/img/register.png'|theme}}" alt="">{% endif %}{{record.tournament_title}}
                  </button>
                </h2>
              </div> 
          
              <div id="collapse{{record.id}}" class="collapse hide" aria-labelledby="heading{{record.id}}" data-parent="#accordionExample">
                <div class="card-body">
                   <div class="float-left"><img style="width: 300px; height: 300px; margin-right: 10px;" src="{{record.poster.path|resize(300,300,{mode:'crop'})}}" alt=""></div> 
                   <div>{{ html_limit(record.description,1000)|raw}}</div> 
                </div>
              </div>
            </div>
        {% endfor %}
        
        </div>
</div>
{% if records.lastPage > 1 %}
    <ul class="pagination">
        {% if records.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..records.lastPage %}
            <li class="{{ records.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if records.lastPage > records.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}